@import url('https://fonts.googleapis.com/css?family=Poppins:400, 500, 700');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;

    background-color: #3A3B49;

    font-family: Poppins, sans-serif;
    font-size: 1rem;
    color: white;
}

.full-height {
    display: flex;
    flex-direction: column;
}

.wrapper {
    max-width: 1600;
    margin: 0 auto;
    padding: 0 75px;
    flex-grow: 1;
}

.main-header,
.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header .wrapper,
.main-footer .wrapper {
    display: flex;
    justify-content: space-between;
}

.main-nav ul,
.footer-nav ul {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.main-nav a,
.footer-nav a {
    color: inherit;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.main-nav a:hover,
.footer-nav a:hover {
    color: #adadad;
}

.main-header {
    height: 100px;
}

.main-logo {
    display: flex;
    align-items: center;

    font-size: 1.25em;
    color: inherit;
    text-decoration: none;
}

.main-logo img {
    width: 359px;
    height: 25px;
}

.main-footer {
    height: 70px;

    background-color: #202027;

    font-weight: bold;
}

.social-link {
    display: flex;
    align-items: center;
}

.social-link img {
    height: 1em;
    margin-right: .25rem;
}


.title {
    font-weight: 500;
    font-size: 3.6em;
    margin-bottom: 1rem;
    margin-top: 0;
}

.subtitle {
    font-weight: 500;
    font-size: 1.5em;
    margin-bottom: 2rem;
}

.btn {
    padding: .75rem 1.5rem;

    border-radius: .5rem;
    border: none;
    outline: none;

    background-color: #336EC6;

    color: white;
    text-decoration: none;
    font-size: .9rem;

    cursor: pointer;
}

.btn:hover {
    background-color: #2180d8;
}

input {
    outline: none;
    background: none;
    border: 1px solid white;
    border-radius: .5rem;

    background-color: white;

    font-size: 1rem;
    padding: .5em;
    color: #202027;
}

input:focus {
    border-color: #336EC6;
}

.error {
    color: #dd0044;
}

.game-section {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-grow: 1;
    flex-direction: column;
}

.nova-ui__viewport {
    position: relative;

}

.nova-ui__screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;
}

.nova-ui__screen--centered {
    align-items: center;
    justify-content: center;
}

.nova-ui__screen--visible {
    display: flex;
}

.nova-ui__login-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nova-ui__screen .error {}

.nova-ui__screen .text {
    user-select: none;
}